*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}


body {
    background-color: #22212C;
    padding: 40px;
    
}


.container {
    display: flex;
    gap: 60px;
}


#divaside1 {
    background-color: #302F3D;
    text-align: center;
    padding: 32px 0 ;
    border-radius: 20px;
    width: 348px;
    height: 292px;
   
    
}

#divaside2 {

    text-align: start;

    background-color: #302F3D;
    padding: 30px 40px ;
    border-radius: 20px;
    width: 348px;
    height: 348px;
    
}

#divaside3 {
    background-color: #302F3D;
    padding: 30px 20px ;
    border-radius: 20px;
    width: 348px;
    height: 208px;
    
}

#divaside4 {
    background-color: #302F3D;
    padding: 30px 20px ;
    border-radius: 20px;

}

#divaside5 {
    background-color: #302F3D;
    padding: 30px 20px ;
    border-radius: 20px;
}
aside {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    gap: 30px;

}

main {
    flex: 1;
}

#MyProjects{
    display: flex;
    justify-content: space-between;

    background-color: #302F3D;
    border-radius: 20px;
    padding: 30px;
    margin: 0 0 31px;
}

#projects {
    display: flex;
    gap: 2rem;
}

.onix{
    background-color: #302F3D;
    border-radius: 20px;
    padding: 30px 30px 0 30px;
}
.myonix {
    display: flex;
    gap: 1rem;
    margin: 0 0 22px;
}

.ponix {
    margin: 0 0 30px;
}
.listaonix {
    display: flex;
    justify-content: center;
    gap: 4rem;
    list-style: none;
    margin: 0 0 30px;
}
.lionix{
    display: flex;
    gap: 1rem;
    align-items:center;
}

#Recent{
    padding: 30px;
    margin: 30px 0 ;
    border-radius: 20px;
    background-color: #302F3D ;
}

#erro {
    display: flex ;
    gap: 3rem;
    padding: 2rem;
    background-color: #302F3D;
    border-radius: 20px;
    align-items: center;
}

.h5erro {
    margin: 1.25rem 0 0 ;
}

#ulerro{
    display: flex;
    list-style: none;
    gap: 1rem;
}

#ul1 {
    display:flex;
    flex-direction: column;
    gap: 20px;
}

.li1 {
    display: flex;
    gap:20px;
    row-gap: 20px;
    
}

#ul2{
    padding: 20px 100px 40px 40px ;

}

#ul3{
    padding: 20px 180px 40px 40px;

}

table {
    padding: 0 10px;
    margin-top: 10px;
}

th { 
    background-color: #CB92B1;
    border-radius: 30px;
    width: 86px;
    height: 24px;
    
  
}

.perfil {
    width: 128px;
}

#ulTecnologias{
    Display:flex ;

}

